body {
    background-color: black;
}

h1 {
    display: inline;
    position: relative;
    font: 130px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgb(223 223 230 / 50%);    
    text-shadow: 7px 2px #514d63;
}

h2 {
    font: 80px Helvetica, Sans-Serif;
    letter-spacing: -5px;
    color: rgb(255 0 0 / 50%);
    text-shadow: -2px 2px #929292;
    margin: 0;
}

.films {
    color: white;
    font: 40px Helvetica, Sans-Serif;
    letter-spacing: -2px;    
    text-shadow: -2px 2px #929292;
}